.btn-space {
    margin-left: 20px;
}

.centered {
    color: white;
    position: absolute;
    top: 80%;
    left:45%;
    text-align:center;
    transform: translate(-50%, -20%);
}

.centered1 {
  bottom: 10%;
  left:20%;

    color: grey;
    position: absolute;
text-align:center;

}
